
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link rel="stylesheet" href="/error.css">
</head>
<body>
    <div class="error-container">
        <h1>Oops! Something went wrong.</h1>
        <p>{{status}}</p>
        <p>{{message}}</p>
    </div>
</body>
